@import 'fonts.css';

body {
  width: 1200px;
  margin: 0;
  padding: 0;
}
.header {
  position: relative;
  width: 1020px;
}
.header-content {
  position: relative;
  height: 89px;
  background-color: #2d303a;
}
.header-shadow {
  height: 6px;
  background-color: #323746;
}
.header-logo {
  display: inline-block;
  position: relative;
  left: 40px;
  top: 40px;
}
.header-logo__name {
  font-size: 25px;
  line-height: 6px;
  letter-spacing: -0.5px;
  color: #ffffff;
  font-family: 'Lato-Bold-A';
  text-align: left;
  text-transform: uppercase;
}
.header-logo__asterisk {
  display: block;
  position: relative;
  left: 106px;
  top: -19px;
  line-height: 6px;
  font-size: 21px;
  color: #f06c64;
}
.navbar {
  display: inline-block;
  width: 435px;
  height: 89px;
  position: relative;
  left: 490px;
  top: 26px;
  justify-content: space-between;
}
.navbar-elem {
  display: inline-block;
  position: relative;
  font-size: 12px;
  line-height: 8px;
  padding: 12px 8px;
  letter-spacing: -0.5px;
  color: #ffffff;
  font-family: 'Lato-Bold-A';
  text-align: left;
  text-transform: uppercase;
}
.navbar-elem:hover{
  cursor: pointer;
  color: #f06c64;
  background-color: #f2f2f2;
}
.navbar-elem__dot {
  display: inline-block;
  position: relative;
  top: 6px;
  font-size: 26px;
  line-height: 2px;
  text-align: left;
  color: #494e62;
}
.navbar-elem__active {
  display: inline-block;
  position: relative;
  left: 0px;
  top: 0px;
  padding: 12px 8px;
  font-size: 12px;
  line-height: 8px;
  letter-spacing: -0.5px;
  color: #f06c64;
  font-family: 'Lato-Bold-B';
  text-align: left;
  text-transform: uppercase;
}
.navbar-elem__active:hover{
  cursor: pointer;
  color: #f06c64;
  background-color: #f2f2f2;
}
.main {
  width: 1020px;
  height: 1116px;
}
.sliderBlock {
  position: relative;
  width: 1020px;
  height: 594px;
  background-color: #f06c64;
}
.prev,
.next {
  position: relative;
}
.prev {
  top: 281px;
  left: 42px;
  z-index: 5;
}
.prev:hover {
  cursor: pointer;
  background-color: #767e9e;
}
.next {
  top: -712px;
  left: 964px;
}
.next:hover {
  cursor: pointer;
  background-color: #767e9e;
}
.iphoneVerticalBlock {
  position: relative;
  left: 0px;
  top: 0px;
  width: 400px;
  height: 481px;
}
.iphoneVertical-base {
  position: absolute;
  left: 110px;
  top: 21px;
  width: 218px;
  height: 461px;
  z-index: 3;
}
.iphoneVerticalSrceen {
  position: absolute;
  left: 123px;
  top: 84px;
  width: 194px;
  height: 339px;
  z-index: 4;
}
.iphoneVerticalSrceenBackground {
  position: absolute;
  left: 126px;
  top: 87px;
  width: 188px;
  height: 333px;
  background-image: url('assets/img/VerticalBackground.png');
  background-position: -14px -135px;
  z-index: 5;
}
.iphoneVerticalCam {
  position: absolute;
  left: 213px;
  top: 37px;
  z-index: 5;
}
.iphoneVerticalSpeaker {
  position: absolute;
  left: 201px;
  top: 56px;
  z-index: 5;
}
.iphoneVerticalButton {
  position: absolute;
  left: 197px;
  top: 428px;
  z-index: 5;
}
.iphoneVerticalShadow {
  position: absolute;
  left: 112px;
  top: 22px;
  z-index: 2;
}

.iphoneHorizontalBlock {
  position: relative;
  left: 465px;
  top: -491px;
  width: 400px;
  height: 481px;
  margin: 0;
}
.iphoneHorizontal-base {
  position: absolute;
  left: -41px;
  top: 152px;
  z-index: 3;
}
.iphoneHorizontalShadow {
  position: absolute;
  left: -39px;
  top: 153px;
  z-index: 2;
}
.iphoneHorizontalSrceen {
  position: absolute;
  left: 17px;
  top: 164px;
  z-index: 4;
}
.iphoneHorizontalCam {
  position: relative;
  left: 391px;
  top: 252px;
  z-index: 5;
  transform: rotate(90deg);
}
.iphoneHorizontalSpeaker {
  position: absolute;
  left: 376px;
  top: 242px;
  z-index: 5;
}
.iphoneHorizontalButton {
  position: absolute;
  left: -33px;
  top: 238px;
  z-index: 5;
  transform: rotate(90deg);
}
.iphoneHorizontalSrceenBackground {
  position: absolute;
  left: 20px;
  top: 167px;
  width: 333px;
  height: 188px;
  background-image: url('assets/img/BackHorizontal.png');
  background-position: -125px -119px;
  z-index: 5;
}

.sliderBlcok-shadow {
  width: 1020px;
  height: 6px;
  background-color: #ea676b;
}
.sericesBlock {
  width: 1020px;
  height: 495px;
  background-color: #f2f2f2;
}
.sericesBlock-shadow {
  width: 1020px;
  height: 6px;
  background-color: #ffffff;
}
.headingServices {
  position: relative;
  left: 40px;
  top: 68px;
  margin: 0;
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: 'Lato-Bold-B';
  text-align: left;
}

.paragraphServices,
.paragraph2Services {
  position: relative;
  width: 970px;
  margin: 0;
  font-size: 19px;
  line-height: 22px;
  letter-spacing: -0.27px;
  color: #767e9e;
  font-family: 'Lato Light B';
  text-align: left;
}

.paragraphServices {
  left: 39px;
  top: 98px;
}
.paragraph2Services {
  left: 39px;
  top: 107px;
  letter-spacing: -0.37px;
}
.sixServicesBlock {
  position: relative;
  display: flex;
}
.firstColumn,
.secondColumn,
.thirdColumn{
  width: 310px;
}
.secondColumn{
  margin-left: 4px;
}
.thirdColumn{
  margin-left: 4px;
}
.sixServicesBlock-elem__pen,
.sixServicesBlock-elem__bulb,
.sixServicesBlock-elem__heart,
.sixServicesBlock-elem__phone,
.sixServicesBlock-elem__bubble,
.sixServicesBlock-elem__star {
  position: relative;
  display: inline-block;
  width: 310px;
}
.sixServicesBlock-elem__pen {
  top: 135px;
  left: 40px;
}
.sixServicesBlock-elem__bulb {
  top: 135px;
  left: 45px;
}
.sixServicesBlock-elem__heart {
  top: 135px;
  left: 51px;
}
.sixServicesBlock-elem__phone {
  top: 102px;
  left: 40px;
}
.sixServicesBlock-elem__bubble {
  top: 102px;
  left: 45px;
}
.sixServicesBlock-elem__star {
  top: 102px;
  left: 51px;
}

.imgBlock,
.textBlock {
  position: relative;
  display: inline-block;
}
.imgBlock {
  top: -54px;
  left: 0px;
}
.textBlock {
  top: 0px;
  left: 0px;
  width: 240px;
}
.penHeading,
.bulbHeading,
.heartHeading,
.phoneHeading,
.bubbleHeading,
.starHeading {
  position: relative;
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: 'Lato-Bold-B';
  text-align: left;
}
.penHeading {
  left: 13px;
  top: 3px;
}
.bulbHeading {
  left: 15px;
  top: 3px;
  letter-spacing: 0.1px;
}
.heartHeading {
  left: 16px;
  top: 3px;
  letter-spacing: 0.05px;
}
.phoneHeading {
  left: 14px;
  top: 3px;
  letter-spacing: 0.05px;
}
.bubbleHeading {
  left: 15px;
  top: 3px;
  letter-spacing: 0px;
}
.starHeading {
  left: 16px;
  top: 3px;
  letter-spacing: 0.1px;
}
.penParagraph,
.penParagraph2,
.penParagraph3,
.bulbParagraph,
.bulbParagraph2,
.bulbParagraph3,
.heartParagraph,
.heartParagraph2,
.heartParagraph3,
.phoneParagraph,
.phoneParagraph2,
.phoneParagraph3,
.bubbleParagraph,
.bubbleParagraph2,
.bubbleParagraph3,
.starParagraph,
.starParagraph2,
.starParagraph3 {
  position: relative;
  width: 242px;
  font-size: 12px;
  line-height: 22px;
  word-spacing: 6px;
  color: #767e9e;
  font-family: 'Lato Light B';
  text-align: left;
}
.penParagraph {
  left: 14px;
  top: -5px;
}
.penParagraph2 {
  left: 14px;
  top: -18px;
  letter-spacing: 0px;
  word-spacing: 2px;
}
.penParagraph3 {
  left: 14px;
  top: -30px;
  letter-spacing: 0.05px;
  word-spacing: 1px;
}
.bulbParagraph {
  left: 15px;
  top: -5px;
  letter-spacing: 0.3px;
  word-spacing: 0px;
}
.bulbParagraph2 {
  left: 16px;
  top: -18px;
  letter-spacing: 0.2px;
  word-spacing: 6px;
}
.bulbParagraph3 {
  left: 16px;
  top: -30px;
  letter-spacing: 0.12px;
  word-spacing: 0px;
}
.heartParagraph {
  left: 14px;
  top: -5px;
  letter-spacing: 0.17px;
  word-spacing: 2px;
}
.heartParagraph2 {
  left: 15px;
  top: -18px;
  letter-spacing: 0.05px;
  word-spacing: 1px;
}

.heartParagraph3 {
  left: 15px;
  top: -30px;
  letter-spacing: 0.12px;
  word-spacing: 0px;
}
.phoneParagraph {
  left: 15px;
  top: -5px;
  letter-spacing: 0.13px;
  word-spacing: 1px;
}
.phoneParagraph2 {
  left: 15px;
  top: -18px;
  letter-spacing: 0.05px;
  word-spacing: 1px;
}
.phoneParagraph3 {
  left: 15px;
  top: -30px;
  letter-spacing: 0.13px;
  word-spacing: 0px;
}
.bubbleParagraph {
  left: 15px;
  top: -5px;
  letter-spacing: 0.22px;
  word-spacing: 4px;
}
.bubbleParagraph2 {
  left: 15px;
  top: -18px;
  letter-spacing: 0.17px;
  word-spacing: 0px;
}
.bubbleParagraph3 {
  left: 15px;
  top: -30px;
  letter-spacing: 0.13px;
  word-spacing: 0px;
}
.starParagraph {
  left: 14px;
  top: -5px;
  letter-spacing: 0.29px;
  word-spacing: 1px;
}
.starParagraph2 {
  left: 14px;
  top: -18px;
  letter-spacing: 0.23px;
  word-spacing: 7px;
}
.starParagraph3 {
  left: 15px;
  top: -30px;
  letter-spacing: 0.13px;
  word-spacing: 0px;
}
