@import 'fonts.css';

body {
  width: 1200px;
  margin: 0;
  padding: 0;
}
.header {
  position: relative;
  width: 1020px;
}
.header-content {
  position: relative;
  height: 89px;
  background-color: #2d303a;
}
.header-shadow {
  height: 6px;
  background-color: #323746;
}
.header-logo {
  display: inline-block;
  position: relative;
  left: 40px;
  top: 40px;
}
.header-logo__name {
  font-size: 25px;
  line-height: 6px;
  letter-spacing: -0.5px;
  color: #ffffff;
  font-family: 'Lato-Bold-A';
  text-align: left;
  text-transform: uppercase;
}
.header-logo__asterisk {
  display: block;
  position: relative;
  left: 106px;
  top: -19px;
  line-height: 6px;
  font-size: 21px;
  color: #f06c64;
}
.navbar {
  display: inline-block;
  width: 435px;
  height: 89px;
  position: relative;
  left: 498px;
  top: 26px;
  justify-content: space-between;
}
.navbar-elem {
  display: inline-block;
  position: relative;
  font-size: 12px;
  line-height: 8px;
  margin: 0px 8px;
  letter-spacing: -0.5px;
  color: #ffffff;
  font-family: 'Lato-Bold-A';
  text-align: left;
  text-transform: uppercase;
}
.navbar-elem__dot{
  display: inline-block;
  position: relative;
  top: 6px;
  font-size: 26px;
  line-height: 2px;
  text-align: left;
  color: #494e62;
}
.navbar-elem__active {
  display: inline-block;
  position: relative;
  left: 0px;
  top: 0px;
  margin-right: 8px;
  font-size: 12px;
  line-height: 8px;
  letter-spacing: -0.5px;
  color: #f06c64;
  font-family: 'Lato-Bold-B';
  text-align: left;
  text-transform: uppercase;
}
.main{
  width: 1020px;
  height: 1116px;
}
.sliderBlock{
  position: relative;
  width: 1020px;
  height: 600px;
  background-color: #f06c64;
}
.prev, .next{
  position: relative;
}
.prev{
  top: 281px;
  left: 42px;
}
.next{
  top: 250px;
  left: 964px;
}
.iphoneVerticalBlock{
  position: relative;
  height: 481px;
}
.iphoneVerticalBlock-base{
  position: relative;
  left: 0px;
  top: 0px;
  width: 215px;
  height: 458px;
  background-image: url('assets/img/BaseVertical.png');
}
.sliderBlcok-shadow{
  width: 1020px;
  height: 15px;
  background-color: #ea676b;
}

