@import 'fonts.css';

body {
  width: 1200px;
  margin: 0;
  padding: 0;
}
.header {
  position: absolute;
  width: 1020px;
}
.header-content {
  position: relative;
  height: 89px;
  background-color: #2d303a;
}
.header-shadow {
  height: 6px;
  background-color: #323746;
}
.header-logo {
  display: inline-block;
  position: relative;
  left: 40px;
  top: 40px;
}
.header-logo__name {
  font-size: 25px;
  line-height: 6px;
  letter-spacing: -0.5px;
  color: #ffffff;
  font-family: 'Lato-Bold-A';
  text-align: left;
  text-transform: uppercase;
}
.header-logo__asterisk {
  display: block;
  position: relative;
  left: 106px;
  top: -19px;
  line-height: 6px;
  font-size: 21px;
  color: #f06c64;
}
.navbar {
  display: inline-block;
  width: 435px;
  height: 89px;
  position: relative;
  left: 450px;
  top: 5px;
  justify-content: space-between;
}
.navbar-elem {
  display: inline-block;
  position: relative;
  font-size: 12px;
  line-height: 8px;
  margin: 0px 10px;
  letter-spacing: -0.5px;
  color: #ffffff;
  font-family: 'Lato-Bold-A';
  text-align: left;
  text-transform: uppercase;
}
.navbar-elem__dot{
  display: inline-block;
  font-size: 26px;
  line-height: 2px;
  text-align: left;
  color: #494e62;
}
.navbar-elem__active {
  display: inline-block;
  position: relative;
  left: 0px;
  top: 0px;
  margin-right: 10px;
  font-size: 12px;
  line-height: 8px;
  letter-spacing: -0.5px;
  color: #f06c64;
  font-family: 'Lato-Bold-B';
  text-align: left;
  text-transform: uppercase;
}
